@model IEnumerable<RaceTrack.Models.RaceVehicle>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTowStrap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptableTireWear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptableLift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasTowStrap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptableTireWear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptableLift)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>